@finance-calc-colour-border: #1a79c4;
@white: #fff;
@black: #000;
@offwhite: #f9f9f9;
@grey: #ededed;

.finance-calculator {
    align-items: center;
    background-color: @white;
    border: 1px solid @finance-calc-colour-border;
    border-radius: 0;
    display: flex;
    margin-bottom: 20px;
    padding: 12px;
    text-align: left;

    &:hover,
    &:focus,
    &:active {
        background-color: @white;
        border-color: @black;

        .finance-calculator__heading {
            text-decoration: underline;
        }
    }
}

.finance-calculator__heading {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}

.finance-calculator__content {
    padding: 0 10px;
}

.finance-calculator__text {
    font-weight: normal;
}

.finance-modal {
    @media only screen and (min-width: @screen__l) {
        display: flex;

        .finance-modal__column {
            flex: 1 1 50%;
            width: 50%;
        }
    }
}

.finance-modal__column--left {
    @media only screen and (min-width: @screen__l) {
        padding-right: 20px;
    }
}

.finance-modal__column--right {
    background-color: @offwhite;
    padding: 20px;
}

.finance-modal__image {
    margin-top: 15px;
}

.finance-modal__table {
    border: 1px solid @grey;
    margin-bottom: 20px;
}
