<button class="finance-calculator" aria-labelledby="finance-calculator-heading" type="button" data-mage-init='{"financemodal": {}}'>
    <img class="finance-calculator__image" src="<?php echo $this->getViewFileUrl('Craighellinger_Financecalculator::images/calculator-blue.png'); ?>" alt="Calculator" />
    <div class="finance-calculator__content">
        <h2 class="finance-calculator__heading" id="finance-calculator-heading">Finance calculator</h2>
        <p class="finance-calculator__text">Enjoy 0% interest with monthly instalment plans from £3000.00/month</p>
    </div>
    <img class="finance-calculator__image" src="<?php echo $this->getViewFileUrl('Craighellinger_Financecalculator::images/v12logo.png'); ?>" alt="V12 Retail Finance" />
</button>

<div class="finance-modal">
    <div class="finance-modal__column finance-modal__column--left">
        <h3 class="finance-modal__heading" id="finance-modal-heading">Available Finance Options</h3>
        <p class="finance-modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet mauris dolor, a scelerisque nibh posuere eget. Curabitur id arcu dignissim sem mattis molestie eu eget est. Vivamus pulvinar neque in auctor efficitur. Nullam et euismod libero. Sed sodales nunc sit amet erat dignissim, vel dignissim justo molestie.</p>
        <h4 class="finance-modal__subheading">Deposit Payment</h4>
        <p>This is the amount you pay upfront. Please be aware that you must pay a minimum of 10% upfront.</p>
        <!-- TODO - Add increment field -->
        <h4 class="finance-modal__subheading">Repayment condition</h4>
        <field name="repayment-condition" formElement="select">
            <formElements>
                <select>
                    <settings>
                        <options>
                            <option name="1" xsi:type="array">
                                <item name="label" xsi:type="string">Interest Free Finance (3 months)</item>
                            </option>
                            <option name="2" xsi:type="array">
                                <item name="label" xsi:type="string">Interest Free Finance (6 months)</item>
                            </option>
                            <option name="3" xsi:type="array">
                                <item name="label" xsi:type="string">Interest Free Finance (12 months)</item>
                            </option>
                        </options>
                        <caption translate="true">-- Please Select --</caption>
                    </settings>
                </select>
            </formElements>
        </field>
        <img class="finance-modal__image" src="<?php echo $this->getViewFileUrl('Craighellinger_Financecalculator::images/v12logo.png'); ?>" alt="V12 Retail Finance" />
    </div>
    <div class="finance-modal__column finance-modal__column--right">
        <h4 class="finance-modal__subheading">Finance summary</h4>
        <table class="finance-modal__table">
            <tr>
                <td>Deposit payment</td><td>£3000</td>
            </tr>
            <tr>
                <td>Finance amount</td><td>£27000</td>
            </tr>
            <tr>
                <td>Interest charged</td><td>0%</td>
            </tr>
        </table>
        <p class="finance-modal__text">Lorem ipsum dolor sit amet, consectetur <a href="#">terms and conditions</a>. Proin imperdiet mauris dolor, a scelerisque nibh posuere eget. Curabitur id arcu dignissim sem mattis molestie eu eget est. Vivamus pulvinar neque in auctor efficitur.</p>
        <button class="action primary" type="submit">Add Finance</button>
    </div>
</div>
